.result-card{
    width: 500px;
    margin-top: 20px;
}

@media only screen and (max-width: 610px){
    .result-card{
        width: 300px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 320px){
    .result-card{
        width: 200px;
        margin-top: 10px;
    }
}