.home-body{
    height:100%;
    display: flex;
    flex-direction: column;
    background-image: url("../assets/home-backg.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
}

.home-overlay{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.699);
}

.home-header{
    padding: 20px;
    text-align: center;
    display: grid;
    justify-items: center;
   
}

.flex-1{
    flex: 10%;
}

.flex-2{
    flex: 90%;
}

.home-header h1{
    font-weight: 600; 
    border: 2px solid aliceblue;
    width: 350px;
    padding: 5px 0;
    text-shadow: rgba(17, 12, 46, 0.452) 0px 48px 100px 0px;
    color: aliceblue;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 60px;
}

.home-card{
    border: 2px solid rgba(0, 0, 0, 0.856);
    box-shadow: 2px 2px 3px;
}
#card-img{
    height: 230px;
    box-shadow: 1px 1px 1px;
}

#home-btn{
    font-size: 30px;
    width: 70px;
    height: 30%;
    transition: .3s;
}

#home-btn:hover{
    border: 1px solid aliceblue;
}

@media only screen and (max-width: 863px){
    .home-body { 
        height:auto;
    }
    .home-overlay{ 
        height:auto;
    }
    .card-container{
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .home-header h1{
        width: 280px;
    }
}